
.header-1 {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: #e0e9f6;
 
}
.first-column {
   /* background: green;*/
    color: white;
    font-size: 2rem;
    border-width:2px;
    border-color:#000;  
    /*background: #5851ff;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    align-items: center;

}
.second-column {

  border-style: dotted;
  border-width: 2px;
}
.water-proof-1{
    position: absolute;
    left: -310px;
    bottom: 0;
    width: 310px;
    height: 186px;
    background: #232930;
    color: #fff;
    text-transform:inherit;
    font-size: 30px;
    padding: 50px 0 0 50px;
}


.water-proof-1:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #232930;
    position: absolute;
    right: -9px;
    bottom: 45px;
	}


input[type=text], select, textarea {
      width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
      width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
  background-color: #ee231f;
    color: white;
    padding: 14px 65px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #221e1f;
}

.container {
  border-radius: 5px;
  background-color: #eef3f9;
  padding: 20px;
  width: 100%;
}

.h1{
font-size: 34px;
font-weight: 700;
}

.col-1{
width:33%;
}
.col-2{
width:37%;
}
.col-3{
width:30%;
}
.col-4{width:40%;}

.col-5{ width:20%;}

.col-6{ width:39%;}

.banner-heading-1 {
    color: #fff;
    font-family: amsipro-bold;
    font-size: 45px;
    position: relative;
    margin-bottom: 17px;
	}
	
	.banner-heading-1:before {
    content: '';
    display: block;
    width: 95px;
    height: 5px;
    background: #ea1319;
    margin-bottom: 3px;
	}
	
	.water-proof {
   
  
	background-color:#232930!important;
	}
	.water-proof:after
	{
	border-right: 9px solid #232930!important;
	}
	.margin-15{
	margin-right:15px;
	}
	.header .navigation ul li {
    padding: 0 19px!important;
}
@media only screen and (max-width: 479px)
{
 .water-proof-1 {
    width: 120px;
    height: 127px;
    padding: 10px;
    text-transform: capitalize;
    left: -120px;
    font-size: 20px;
    line-height: 28px;
}
.water-proof-1:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #232930;
    position: absolute;
    right: -9px;
    bottom: 45px;
	}

.header-1 {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: #e0e9f6;
 
}
.h1{
font-size: 34px;
font-weight: 700;
}
.col-2{

width:100%;
text-align:center;
}

.col-4{width:100%;}

.col-5{ width:100%;
text-align:center;}

.col-6{ width:100%;}
.banner-heading-1 {
    font-size: 30px;
	}
	.banner-heading:before {
    width: 50px;
    height: 4px;
	}
	..water-proof-2 {
    right: -120px;
    line-height: 18px;
    font-size: 13px;
    padding: 5px 0 0 5px;
	}
}
